@import "tailwindcss";

@theme {
  --font-serif: "Fraunces", serif;
  --font-sans: "DM Sans", sans-serif;
  
  --color-brand-primary: #C76B3D;
  --color-brand-secondary: #843519;
  --color-brand-cream: #F7F0E5;
  --color-brand-charcoal: #333333;
  --color-brand-text: #636363;
  --color-brand-border: #E1D8CC;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-brand-text);
    background-color: #ffffff;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color: var(--color-brand-charcoal);
    font-weight: 500;
  }
}
